.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 425px) {
    flex-direction: column;
  }

  & > *:not(:last-child) {
    margin-right: 10px;

    @media only screen and (max-width: 425px) {
      margin-right: unset;
      margin-bottom: 10px;
    }
  }
}

.active {
  background-color: blue
}