.root {
  & > div:first-child {
    display: flex;
    align-items: baseline;
  }
}

.link {
  width: 200px;
}

.linkGroup {
  margin-bottom: 20px;
  
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}