.root {
  & > div:first-child {
    display: flex;
    align-items: baseline;
  }
}

.link {
  width: 70px;
  height: 35px;
  text-align: center;
}

.linkGroup {
  margin-bottom: 15px;
  
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}